<template>
    <input type="hidden" name="_token" :value="csrf"/>
</template>

<script>
    export default {
        name: "CSRF",

        data(){
            return {
                csrf: $('meta[name="csrf-token"]').attr('content'),
            }
        }
    }

</script>

<style scoped>

</style>
