<template>

    <div class="form-group row" v-show="show">
        <label :for="name" class="col-sm-12 col-form-label alert-link text-primary"><slot></slot></label>

        <div class="col-md-12">

            <input :id="name" :type="type" v-model="val" class="form-control" :name="name" :required="required" :autofocus="autofocus">

            <div class="invalid-tooltip">
                &nbsp;<i class="fas fa-exclamation"></i>&nbsp;
            </div>
            <div class="valid-tooltip">
                <i class="fa fa-check"></i>
            </div>
        </div>
    </div>


</template>

<script>

    export default {
        props: {
            'name': {
                default: 'email'
            },
            'value': {
                default: ''
            },
            'autofocus': {
                default: false
            },
            'required': {
                default: false
            },
            'show': {
                default: true
            },
        },
        data(){
            return {
                val: this.value,
                type: "email",
            }
        },
        methods:{
            broadcast(newVal, oldVal){
                this.$emit('input', newVal);
            }
        },
        watch: {
            value() {
                this.val = this.value;
            },

            val: function(newVal, oldVal) {
                this.broadcast(newVal, oldVal)
            }
        }
    }
</script>
