<template>

    <div class="form-group form-row" v-show="show">
        <label :for="name" class="col-sm-12 col-form-label alert-link text-primary"><slot></slot></label>

        <div class="input-group mb-3">


            <div class="input-group-prepend col-md-3 pl-0  pr-0">
                <countries :options="countries" :selected="load.country" v-model="load.country" ></countries>
            </div>

            <input :id="name" :type="type" v-model="load.number" class="form-control col-md-9" :name="name" :required="required" :autofocus="autofocus">
            <div class="invalid-tooltip">
                &nbsp;<i class="fas fa-exclamation"></i>&nbsp;
            </div>
            <div class="valid-tooltip">
                <i class="fa fa-check"></i>
            </div>
        </div>


    </div>


</template>

<script>

    export default {
        props: {
            'name': {
                default: 'phone'
            },
            'value': {
                default: ''
            },
            'autofocus': {
                default: false
            },
            'required': {
                default: false
            },
            'show': {
                default: true
            },
            'options': {
                default() {
                    return [];
                }
            }
        },
        data(){
            return {
                load: this.value,
                type: "text",
                countries: this.options
            }
        },

        methods:{
            broadcast(){
                if(this.load.number !== ''){
                    this.$emit('input', this.load);
                }
            },
        },

        watch: {
            options(newValues) {
                this.countries = newValues;
            },

            load: {
                handler: function() {
                    this.broadcast();
                },
                deep: true
            }
        }
    }
</script>
