<template>
<span :id="name" v-show="state">
     <span v-for="index in spinners" :key="index" v-bind:class="['spinner-grow', color, 'spinner-grow-sm', 'mb-1']"  role="status" aria-hidden="true"></span>
</span>
</template>

<script>
    export default {
        name: "Spinner",
        props: {
            'color' :{
                default: "text-primary"
            },
            spinners: {
                default: 5
            },
            name: {
                default: 'spinner'
            },
            show: {
                default: true
            }
        },
        data(){
            return {
                state: this.show,
            }
        },

        methods: {
            toggle(state){
                this.show = state;
            },
        },

        created() {
            vuebus.$on('spinner_show', (name = this.name) => {
                if(name === this.name) {
                    this.toggle(true);
                }
            });

            vuebus.$on('spinner_stop', (name = this.name) => {
                if(name === this.name) {
                    this.toggle(false);
                }
            });
        },
        watch:{
            show() {
                console.log(this.show)
                this.toggle(this.show);
            }
        }
    }

</script>

<style scoped>

</style>
