// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;


// Body
$body-bg: #e7e7e7;
$body-color: #2f313a;

// Colors
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #ffa000;
$yellow: #ffc107;
$green: #7cb342;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #181c20;
$primary: #0275d8;
$secondary: #6c757d;
$success: #7cb342;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$dark: #181c20;
$black: #030303;

$toastrWidth: 450px;
$toastrTop: 0px;

$sidebarWidth: 280px;

$pokedexColor: #ee3e37;
