// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


[role=main] {
    padding-top: 60px;
}

.bg-pokedex a{
    color: $pokedexColor;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.9);
}
.navbar-dark .navbar-nav .nav-link[aria-expanded=true], .navbar-dark .navbar-nav .nav-link[aria-expanded=true] {
    color: rgba(255, 255, 255, 1);
}

.navbar.bg-pokedex .dropdown-menu .dropdown-item:hover{
    color: #fff;
    background-color: $pokedexColor;
}


/*
 * Cards
 */

.card {
    background: $white;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border: none;
}

.card .text-grey
{
    padding-top: 10px;
}

.card .action-bar
{
    background: #f5f5f5;
}

.card .panel-heading {
    padding: 8px 5px;
    border-bottom: solid 2px #ddd;
    font-weight: bold;
    letter-spacing: .08rem;
    font-size: 14px;
}

.card .alert-success .panel-heading {
    border-bottom: solid 2px $green;
}
.card .alert-danger .panel-heading {
    border-bottom: solid 2px $red;
}
.card .alert-info .panel-heading {
    border-bottom: solid 2px $blue;
}
.card .alert-warning .panel-heading {
    border-bottom: solid 2px $orange;
}


.navbar.fixed-top
{
    height: 50px;
    transition: all 0.4s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: bottom left;
    -webkit-box-shadow: 0 0px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.75);
    z-index: 1020;
}


.d-grid {
    display: grid;
}

.slideout-panel .slideout{
    padding-top: 50px;
}

.r-0{
    right: 0.5em;
}

.r-3{
    right: 3em;
}

.t-3{
    top: 3em;
}

