
/*
 * Responsive Tables
 */

.card .table-div.row {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 10px
}

.table-div .panel
{
    margin-bottom: 5px;
    border: 0px;
}
.text-grey
{
    color: #777;
}

.table-div.alert-success, .table-div.alert-danger, .table-div.alert-info, .table-div.alert-warning {
    background: transparent;
}

.table-div .panel
{
    margin-bottom: 5px;
    border: 0px;
}

.panel-table .alert
{
    padding: 5px;
    margin-bottom: 0px;
}

.table-div.alert
{
    padding: 5px;
    border-radius: 1px;
    margin-bottom: 0px;
}
.card .table-div .col-md-12 {
    padding-left: 0;
    padding-right: 0;
}

.table-number
{
    width: 50px;
    display: inline-block;
    vertical-align: top;
    margin-right: -2px;
}

/*
 1 column
 */
.table-cols-1 .table-col-1
{
    width: calc((100% - 50px));
}

/*
 * 2 columns
 */
.table-cols-2 .table-col-1
{
    width: calc((100% - 50px) / 2);
}
.table-cols-2 .table-col-2
{
    width: calc((100% - 50px) / 1);
}

/*
 * 3 columns
 */
.table-cols-3 .table-col-1
{
    width: calc((100% - 50px) / (3 / 1));
}
.table-cols-3 .table-col-2
{
    width: calc((100% - 50px) / (3 / 2));
}
.table-cols-3 .table-col-3
{
    width: calc((100% - 50px) / (3 / 3));
}

/*
 * 4 columns
 */
.table-cols-4 .table-col-1
{
    width: calc((100% - 50px) / (4 / 1));
}
.table-cols-4 .table-col-2
{
    width: calc((100% - 50px) / (4 / 2));
}
.table-cols-4 .table-col-3
{
    width: calc((100% - 50px) / (4 / 3));
}
.table-cols-4 .table-col-4
{
    width: calc((100% - 50px) / (4 / 4));
}

/*
 * 5 columns
 */
.table-cols-5 .table-col-1
{
    width: calc((100% - 50px) / (5 / 1));
}
.table-cols-5 .table-col-2
{
    width: calc((100% - 50px) / (5 / 2));
}
.table-cols-5 .table-col-3
{
    width: calc((100% - 50px) / (5 / 3));
}
.table-cols-5 .table-col-4
{
    width: calc((100% - 50px) / (5 / 4));
}
.table-cols-5 .table-col-5
{
    width: calc((100% - 50px) / (5 / 5));
}

/*
 * 6 columns
 */
.table-cols-6 .table-col-1
{
    width: calc((100% - 50px) / (6 / 1));
}
.table-cols-6 .table-col-2
{
    width: calc((100% - 50px) / (6 / 2));
}
.table-cols-6 .table-col-3
{
    width: calc((100% - 50px) / (6 / 3));
}
.table-cols-6 .table-col-4
{
    width: calc((100% - 50px) / (6 / 4));
}
.table-cols-6 .table-col-5
{
    width: calc((100% - 50px) / (6 / 5));
}
.table-cols-6 .table-col-6
{
    width: calc((100% - 50px) / (6 / 6));
}

/*
 * 7 columns
 */
.table-cols-7 .table-col-1
{
    width: calc((100% - 50px) / (7 / 1));
}
.table-cols-7 .table-col-2
{
    width: calc((100% - 50px) / (7 / 2));
}
.table-cols-7 .table-col-3
{
    width: calc((100% - 50px) / (7 / 3));
}
.table-cols-7 .table-col-4
{
    width: calc((100% - 50px) / (7 / 4));
}
.table-cols-7 .table-col-5
{
    width: calc((100% - 50px) / (7 / 5));
}
.table-cols-7 .table-col-6
{
    width: calc((100% - 50px) / (7 / 6));
}
.table-cols-7 .table-col-7
{
    width: calc((100% - 50px) / (7 / 7));
}

/*
 * 8 columns
 */
.table-cols-8 .table-col-1
{
    width: calc((100% - 50px) / (8 / 1));
}
.table-cols-8 .table-col-2
{
    width: calc((100% - 50px) / (8 / 2));
}
.table-cols-8 .table-col-3
{
    width: calc((100% - 50px) / (8 / 3));
}
.table-cols-8 .table-col-4
{
    width: calc((100% - 50px) / (8 / 4));
}
.table-cols-8 .table-col-5
{
    width: calc((100% - 50px) / (8 / 5));
}
.table-cols-8 .table-col-6
{
    width: calc((100% - 50px) / (8 / 6));
}
.table-cols-8 .table-col-7
{
    width: calc((100% - 50px) / (8 / 7));
}
.table-cols-8 .table-col-8
{
    width: calc((100% - 50px) / (8 / 8));
}


/*
 * 9 columns
 */
.table-cols-9 .table-col-1
{
    width: calc((100% - 50px) / (9 / 1));
}
.table-cols-9 .table-col-2
{
    width: calc((100% - 50px) / (9 / 2));
}
.table-cols-9 .table-col-3
{
    width: calc((100% - 50px) / (9 / 3));
}
.table-cols-9 .table-col-4
{
    width: calc((100% - 50px) / (9 / 4));
}
.table-cols-9 .table-col-5
{
    width: calc((100% - 50px) / (9 / 5));
}
.table-cols-9 .table-col-6
{
    width: calc((100% - 50px) / (9 / 6));
}
.table-cols-9 .table-col-7
{
    width: calc((100% - 50px) / (9 / 7));
}
.table-cols-9 .table-col-8
{
    width: calc((100% - 50px) / (9 / 8));
}
.table-cols-9 .table-col-9
{
    width: calc((100% - 50px) / (9 / 9));
}


/*
 * 10 columns
 */
.table-cols-10 .table-col-1
{
    width: calc((100% - 50px) / (10 / 1));
}
.table-cols-10 .table-col-2
{
    width: calc((100% - 50px) / (10 / 2));
}
.table-cols-10 .table-col-3
{
    width: calc((100% - 50px) / (10 / 3));
}
.table-cols-10 .table-col-4
{
    width: calc((100% - 50px) / (10 / 4));
}
.table-cols-10 .table-col-5
{
    width: calc((100% - 50px) / (10 / 5));
}
.table-cols-10 .table-col-6
{
    width: calc((100% - 50px) / (10 / 6));
}
.table-cols-10 .table-col-7
{
    width: calc((100% - 50px) / (10 / 7));
}
.table-cols-10 .table-col-8
{
    width: calc((100% - 50px) / (10 / 8));
}
.table-cols-10 .table-col-8
{
    width: calc((100% - 50px) / (10 / 9));
}
.table-cols-10 .table-col-9
{
    width: calc((100% - 50px) / (10 / 9));
}
.table-cols-10 .table-col-10
{
    width: calc((100% - 50px) / (10 / 10));
}


/*
 * 11 columns
 */
.table-cols-11 .table-col-1
{
    width: calc((100% - 50px) / (11 / 1));
}
.table-cols-11 .table-col-2
{
    width: calc((100% - 50px) / (11 / 2));
}
.table-cols-11 .table-col-3
{
    width: calc((100% - 50px) / (11 / 3));
}
.table-cols-11 .table-col-4
{
    width: calc((100% - 50px) / (11 / 4));
}
.table-cols-11 .table-col-5
{
    width: calc((100% - 50px) / (11 / 5));
}
.table-cols-11 .table-col-6
{
    width: calc((100% - 50px) / (11 / 6));
}
.table-cols-11 .table-col-7
{
    width: calc((100% - 50px) / (11 / 7));
}
.table-cols-11 .table-col-8
{
    width: calc((100% - 50px) / (11 / 8));
}
.table-cols-11 .table-col-8
{
    width: calc((100% - 50px) / (11 / 9));
}
.table-cols-11 .table-col-9
{
    width: calc((100% - 50px) / (11 / 9));
}
.table-cols-11 .table-col-10
{
    width: calc((100% - 50px) / (11 / 10));
}
.table-cols-11 .table-col-11
{
    width: calc((100% - 50px) / (11 / 11));
}


/*
 * 12 columns
 */
.table-cols-12 .table-col-1
{
    width: calc((100% - 50px) / (12 / 1));
}
.table-cols-12 .table-col-2
{
    width: calc((100% - 50px) / (12 / 2));
}
.table-cols-12 .table-col-3
{
    width: calc((100% - 50px) / (12 / 3));
}
.table-cols-12 .table-col-4
{
    width: calc((100% - 50px) / (12 / 4));
}
.table-cols-12 .table-col-5
{
    width: calc((100% - 50px) / (12 / 5));
}
.table-cols-12 .table-col-6
{
    width: calc((100% - 50px) / (12 / 6));
}
.table-cols-12 .table-col-7
{
    width: calc((100% - 50px) / (12 / 7));
}
.table-cols-12 .table-col-8
{
    width: calc((100% - 50px) / (12 / 8));
}
.table-cols-12 .table-col-8
{
    width: calc((100% - 50px) / (12 / 9));
}
.table-cols-12 .table-col-9
{
    width: calc((100% - 50px) / (12 / 9));
}
.table-cols-12 .table-col-10
{
    width: calc((100% - 50px) / (12 / 10));
}
.table-cols-12 .table-col-11
{
    width: calc((100% - 50px) / (12 / 11));
}
.table-cols-12 .table-col-11
{
    width: calc((100% - 50px) / (12 / 11));
}

.table-col-1, .table-col-2, .table-col-3, .table-col-4, .table-col-5, .table-col-6, .table-col-7, .table-col-8, .table-col-9, .table-col-10, .table-col-11, .table-col-12
{
    display: inline-block;
    vertical-align: top;
    margin-left: -2px;
    margin-right: -2px;
}