[role=main] {
  padding-top: 60px;
  margin-left: 290px;
  margin-right: 15px;
}

.navbar.fixed-top {
  padding-left: 290px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
  position: fixed;
  top: 2px;
  bottom: 2px;
  left: 0;
  min-width: 280px;
  max-width: 280px;
  background: #13161a;
  color: #e7e7e7;
  z-index: 1021;
  font-size: 16px;
  border-radius: 0 20px 20px 0;
  box-shadow: -3px 2px 10px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: -3px 2px 10px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: -3px 2px 10px 0px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.4s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transition: all 0.4s cubic-bezier(0.945, 0.02, 0.27, 0.665);
}

#sidebar .navbar-brand {
  height: 60px;
}

#sidebar .navbar-brand > img {
  height: 48px !important;
  width: 48px !important;
}

#sidebar_content {
  height: 100%;
}

#sidebar a {
  color: #e7e7e7;
}

#sidebar.active {
  min-width: 90px;
  max-width: 90px;
}

#sidebar .submenu {
  background: #090a0b;
}

#sidebar li {
  line-height: 1.6;
}

#sidebar ul.components {
  border-bottom: 1px solid #dc385e;
}

#sidebar ul li a {
  padding: 8px 34px 8px 10px;
  display: block;
  border-radius: 0 20px 20px 0;
  margin-bottom: 1px;
}

#sidebar ul li a:hover {
  color: #dc385e;
  text-decoration: none;
}

#sidebar ul li.active > a,
a[aria-expanded=true] {
  color: #dc385e;
}

#sidebar a[aria-expanded=true] {
  color: #cf2c2d;
}

a[data-toggle=collapse] {
  position: relative;
}

#sidebar .dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#sidebar ul ul a {
  padding-left: 30px !important;
  color: #777777;
}

#sidebar ul.CTAs {
  padding: 20px;
}

#sidebar ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#sidebarCollapse {
  width: 40px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.4s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transition: all 0.4s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #777777;
  -webkit-transition: all 0.6s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition: all 0.6s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  -webkit-transform: rotate(45deg) translate(2px, 2px);
          transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}

#sidebarCollapse span:last-of-type {
  -webkit-transform: rotate(-45deg) translate(1px, -1px);
          transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  margin: 5px auto;
}

#sidebar.active ul li > a > i {
  font-size: 28px;
}

#sidebar.active ul li > a > span {
  -webkit-transition: all 0.4s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transition: all 0.4s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  display: none;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -170px;
  }

  #sidebar.active {
    margin-left: 0;
    -webkit-transform: none;
            transform: none;
  }

  #sidebarCollapse.active {
    margin-left: 160px;
  }

  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
    margin: 5px auto;
  }

  #sidebarCollapse.active span {
    margin: 0 auto;
  }

  #sidebarCollapse.active span:first-of-type {
    -webkit-transform: rotate(45deg) translate(2px, 2px);
            transform: rotate(45deg) translate(2px, 2px);
  }

  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }

  #sidebarCollapse.active span:last-of-type {
    -webkit-transform: rotate(-45deg) translate(1px, -1px);
            transform: rotate(-45deg) translate(1px, -1px);
  }
}

