<template>
    <button @click="showPanel" class="btn btn-primary"><i class="fa fa-plus"></i> Add new pokemon</button>
</template>

<script>
    import SlidePanel from 'vue2-slideout-panel';
    import PokemonForm from '@app/vues/components/pokemon-add-form.vue';

    export default {
        name: "add-form",
        components: {SlidePanel},
        data(){
            return {
                panel: null,
                isPanelOpened: false
            }
        },
        methods: {
            showPanel() {

                if (this.panel && !this.isPanelOpened) {
                    this.isPanelOpened = true;
                    this.panel.show();
                }
                else if(this.panel && this.isPanelOpened) {
                    this.isPanelOpened = false;
                    this.panel.hide();
                }
                else
                {
                    this.panel = this.$showPanel({
                        component : PokemonForm,
                        disableBgClick: true,
                        disableEscClick: true,
                        props: {
                            //any data you want passed to your component
                        }
                    });

                    this.isPanelOpened = true;

                    this.panel.promise.then(result => {
                        console.log("here" , result);
                    });
                }

            }
        },

        created() {
            vuebus.$on('addPokemon', () => {
                this.showPanel();
            });

            vuebus.$on('close.panel', () => {
                this.isPanelOpened = false;
                this.panel.hide();
            });
        }
    }
</script>
