<template>
    <div class="p-3">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 pb-2 mb-2">
            <span class="float-left">
                <img :src="asset(pokemon.images[0].path)" height="48px"> <span class="h2 text-primary">Edit: {{pokemon.name}}</span>
            </span>
            <div class="btn-toolbar mb-2 mb-md-0">
                <button v-if="pokemon !== null" @click="submit" class="btn btn-primary mr-2">
                    <spinner :spinners="4" v-if="isPosting" color="text-light"></spinner>
                    <span v-else><i class="fas fa-arrow-circle-right"></i> Save</span>
                </button>
                <button @click="closePanel" class="btn btn-danger"><i class="fas fa-times"></i></button>
            </div>
        </div>

        <form class="novalidate">
            <csrf></csrf>

            <transition name="fade" mode="in-out">
                <div v-if="pokemon !== null" class="form-group row ">
                    <div class="col-md-12">
                        <label class="h5"><i class="fas fa-list"></i>Details: </label>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-primary" v-text="'Name: ' + pokemon.name"></h4>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-primary" v-text="'Species: ' + pokemon.species"></h4>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-primary" v-text="'Height: ' + pokemon.height"></h4>
                    </div>
                    <div class="col-md-6">
                        <h4 class="text-primary" v-text="'Weight: ' + pokemon.weight"></h4>
                    </div>

                    <div class="col-md-12">
                        <hr/>
                        <label class="h5"><i class="fab fa-react"></i> Abilities: </label>
                        <div class="row">
                            <div v-for="ability in pokemon.abilities" class="col-md-6">
                                <h4 class="text-primary" v-text="ability.name"></h4>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <hr/>
                        <label class="h5" :class="{'text-danger': errors.images}"><i v-if="errors.images" class="fas fa-times text-danger"></i> Add images: </label>
                    </div>

                    <div class="col-md-12 mb-4">
                        <div class="row">
                            <div class="col-md-6 text-center">
                                <img-input v-model="images[0]" :img-src="image(0)" icon="img" bottom-text="Replace" theme="light" placeholder="Upload Image" hover-text="Upload Image" size="medium"/>
                            </div>

                            <div class="col-md-6 text-center">
                                <img-input v-model="images[1]" :img-src="image(1)" icon="img" bottom-text="Replace" theme="light" placeholder="Upload Image" hover-text="Upload Image" size="medium"/>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12">
                        <label class="h5" :class="{'text-danger': errors.desc}"><i v-if="errors.desc" class="fas fa-times text-danger"></i> Add description:</label>
                        <ckeditor :editor="editor" v-model="pokemon.description" :config="editorConfig"></ckeditor>
                    </div>
                </div>
            </transition>
        </form>
    </div>
</template>

<script>
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';

    import ImgInput from 'vue-img-inputer'
    import 'vue-img-inputer/dist/index.css'

    export default {
        name: "pokemon-form",
        components:{ckeditor: CKEditor.component, ImgInput},
        props: ['pokemonData'],

        data(){
            return {
                pokemon: this.pokemonData,
                isPosting: false,
                errors: {
                    desc: false,
                    images: false,
                },
                images: [],

                editor: ClassicEditor,
                editorConfig: {
                    toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],
                    heading: {
                        options: [
                            { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                            { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                            { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' }
                        ]
                    }
                }
            }
        },
        methods: {
            closePanel()
            {
                vuebus.$emit('close.panel')
            },

            submit() {
                if(this.validate() && !this.isPosting) {
                    this.isPosting = true;
                    let data = new FormData();
                    data.append('description', this.pokemon.description);

                    if(this.images[0]) data.append('images[0]', this.images[0]);
                    if(this.images[1]) data.append('images[1]', this.images[1]);

                    axios
                        .post(this.route('admin.pokemon.update', {pokemon: this.pokemon.id}), data, {headers: {'Content-Type': 'multipart/form-data'}})
                        .then(( {data} ) => {
                            if(data.status === 'Success') {
                                Flash.success(data.message, data.status);

                                window.location.reload();
                            } else {
                                Flash.error(data.message, data.status);
                            }

                            this.isPosting = false;
                        })
                        .catch(error => {
                            if(error.message) {
                                Flash.error(error.message, 'Error');
                            }
                            else {
                                Flash.error("If this error persists please contact support", 'Error');
                            }
                            this.isPosting = false;
                        })
                }
            },

            validate() {
                if(this.pokemon.description === '') {
                    Flash.error("Please add a description", 'Error');
                    this.errors.desc = true;
                }

                if(this.images[0] === null && this.images[0] === null) {
                    Flash.error("Please add at least one image", 'Error');
                    this.errors.images = true;
                }

                return this.errors.images === false && this.errors.desc === false;
            },

            image(key) {
                if(this.pokemon.images[key]) {
                    return this.asset(this.pokemon.images[key].path);
                }
            }
        },

        created() {

        },

        watch: {
            images() {
                this.errors.images = false;
            },

            editorData(newVal) {
                this.errors.desc = false;
            }
        }
    }
</script>

<style>
    .fade-enter-active, .fade-leave-active {
        transition: opacity .4s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
        opacity: 0;
    }
</style>
