<template>
    <multiselect v-model="pokemon" id="ajax" label="name" track-by="name" placeholder="Type to search" open-direction="bottom" :options="pokemons" :multiple="false" :searchable="true" :loading="isLoading" :internal-search="false" :close-on-select="true" :options-limit="300" :limit="3" :limit-text="limitText" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="fetch">
        <template slot="tag" slot-scope="{ option, remove }">
            <span class="custom__tag">
                <span>{{ option.name }}</span>
                <span class="custom__remove" @click="remove(option)">❌</span>
            </span>
        </template>
        <template slot="clear" slot-scope="props">
            <div class="multiselect__clear" v-if="pokemon" @mousedown.prevent.stop="clearAll(props.search)"></div>
        </template>
        <span slot="noResult">Oops! No elements found. Consider changing the search query.</span>
    </multiselect>
</template>

<script>
    export default {
        name: "search-pokemon",

        data () {
            return {
                pokemon: null,
                pokemons: [],
                isLoading: false
            }
        },
        methods: {
            limitText (count) {
                return `and ${count} other countries`
            },
            fetch (query) {
                this.isLoading = true;
                axios.get(this.route('public.pokemon.search', {'name' : query}))
                    .then(({data})  => {
                        this.pokemons = data.pokemons;
                        this.isLoading = false
                    })
                    .catch(error => {
                        this.isLoading = false
                    })
            },
            clearAll () {
                this.pokemons = []
            }
        },

        watch: {
            pokemon() {
                window.location = this.route('public.pokemon.view', {'pokemon': this.pokemon.id})
            }
        }
    }
</script>
